<%- include('header.ejs') %>
<script>
    function login() {
        let user = document.getElementById("username").value;
        let pass = document.getElementById("pass").value;
        cookieStore.set("creds", user+":"+pass);
    }
</script>
<form>
    <label for="username">Username:</label><br />
    <input type="text" name="username" id="username"><br />
    <label for="pass">Password:</label><br />
    <input type="text" name="pass" id="pass"><br />
    <br />
    <button type="button" onclick="login();" class="primary">Log in</button>
</form>
<%- include('footer.ejs') %>